# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# PyCharm files
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build folders
build/
dist/
*.egg-info/

# Cache
*.cache/
